* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    font-family: 'Arial', sans-serif;
}

#main {
    min-height: 100vh;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#addBtn {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: rgb(68, 179, 68);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addBtn:hover {
    background-color: green;
}

.note {
    background: transparent;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
}

.tool {
    background-color: #222831;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

.tool i {
    padding: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.tool i:hover {
    color: #aca1a1;
}

.note textarea {
    width: 100%; /* Make the textarea responsive */
    border: none;
    min-height: 220px;
    resize: none;
    padding: 10px;
    font-size: 16px;
    color: white;
    overflow: hidden;
    background-color: #393e46;
    border-radius: 0px 0px 10px 10px;
}

.note textarea:hover {
    background-color: #293e46;
}

/* Media Queries for responsiveness */

/* For laptops/desktops */
@media only screen and (min-width: 768px) {
    #main {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
    #addBtn {
        right: 5px;
        top: 5px;
        padding: 8px;
        font-size: 14px;
    }
}
